body {
    background-image: url("https://image.shutterstock.com/z/stock-vector-burger-pattern-on-orange-background-seamless-pattern-with-burgers-on-orange-background-vector-404394001.jpg");
}

.main {
    color: #d16812;
    font-size: 100px;

}

.header {
    color: #d16812;
}

#burg {
    height: 60px;
    width: 300px;
    font-size: 14px;
    text-align: center;
}
